body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-weight: 500;
    margin: 0;
}

p, a {
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 32px;
    color: black;
    line-height: 38px;
}

h1 {
    font-size: 48px;
    line-height: 79px;
    color: white;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_logo {
    width: 160px;
    height: 48px;
}

.navigation {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
}

.nav-item {
    transition: all ease 0.3s;
    text-decoration: none;
    color: white;
    margin-right: 42px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item:hover {
    color: #B20000;
}

.intro {
    background-color: #141414;
    height: 700px;
}

.intro img {
    width: 343px;
    height: 324px;
    margin-right: 100px;
}

.intro .text-area p {
    text-align: start;
    margin: 60px 0;
    color: #BEBEBE;
    max-width: 540px;
}

.intro button {
    background-color: #B20000;
    border: none;
    color: white;
    padding: 25px 41px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
}

.intro button:hover {
    cursor: pointer;
}

.about {
    height: 366px;
    flex-direction: column;
}

.about p {
    max-width: 540px;
    margin-top: 50px;
}

.numbers {
    height: 250px;
    background-color: #B20000;
}

.number-item {
    margin-right: 49px;
    min-width: 141px;
    display: flex;
}

.number-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.number-item p {
    color: white;
    text-align: left;
}

.number-item .number {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

.number-item .subtitle  {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.skills {
    height: 653px;
}

.skills img {
    width: 555px;
    height: 450px;
}

.skill-list {
    width: 445px;
    margin-right: 150px;
}

.skill-list h2 {
    margin-bottom: 50px;
}

.skill-list-item {
    margin-bottom: 30px;
}

.skill-list-item .title{
    text-align: left;
    margin-bottom: 20px;
}

.progressbar {
    height: 4px;
    background-color: #C4C4C4;
}

.progress {
    height: 4px;
    background: linear-gradient(180deg, #B20000 10.94%, #5A0000 99.99%, #5A0000 100%);
}

.progressbar .adobe {
    width: 72%;
}

.progressbar .html {
    width: 88%;
}

.progressbar .js {
    width: 83%;
}